/* ==========================================================================
   0. global
*  ========================================================================== */

/*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/

.row {
	margin-right: 0px;
}

.threeparts {

}

.visname {
  color: #73ACE5;
}



/* ==========================================================================
   1. nav
*  ========================================================================== */

.navbar {
	background: #F5F5F5;
  margin-bottom: 0px;
}


.navbar-brand span {
  color: #73ACE5;
}


/* ==========================================================================
   2. leftpart: stocklist
*  ========================================================================== */

.stocklisttool div {
  padding-right: 0px;
}

#stocklist {
	height: 600px;
	overflow-y: scroll;
  border: 1px solid #ddd;
}

#stocklist .list-group-item {
  max-height: 3.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 7px;
}


/* ==========================================================================
   3. middlepart: treemap, line + area chart
*  ========================================================================== */

#treemap {
	height: 300px;
}

/*#treemap body_set {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

#treemap form_set {
  position: absolute;
  right: 10px;
  top: 10px;
}*/

#treemap .node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

#line-chart {
	height: 200px;
	/*background-color: #00FFFF;*/
}

#line-chart path { 
    stroke: #73ACE5;
    stroke-width: 2;
    fill: none;
}

#line-chart .axis path,
#line-chart .axis line {
    fill: none;
    stroke: #BDBDBD;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#area-chart {
	height: 50px;
	/*background-color: #FFFF00;*/
}

#area-chart path { 
    stroke: #73ACE5;
    stroke-width: 2;
    fill: none;
}

#area-chart .axis path,
#area-chart .axis line {
    fill: none;
    stroke: #BDBDBD;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#area-chart .area {
  fill: #73ACE5;
}


/* ==========================================================================
   4. rightpart: keyword cloud, idealist
*  ========================================================================== */

#keywordcloud {
	height: 200px;
	border: 1px solid #ddd;
}


#idealist {
	height: 400px;
	overflow-y: scroll;
  border: 1px solid #ddd;
}

#idealist .list-group-item {
	max-height: 3.6em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0px 7px;
  color: #9E9E9E;
}

.username {
	color: #212121;
}

.sentiment {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 40px;
  color: white;
}

.bullidea {
  background-color: #59BD4F;
}

.bearidea {
  background-color: #BD4F4F;
}

